body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-image: url("https://c8.alamy.com/compes/gmm922/orange-pixel-fondo-de-mosaico-gmm922.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 120px;
    color: orange;
}

input {
    position: center;
    text-align: center;
    font-size: 50px;
}

.container {
    border: solid;
    padding: 20px;
    margin: 10px;
}


header {
    background-color: black;
}

#cont1 {
    border: solid;
    margin-top: 40px;
    background-color: black;
    border-radius:.99rem!important;
    text-align: center;
    
}

#cont2 {
    border: solid;
   padding: 40px;
    background-color: black;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24687048.jpg");
    background-size: contain;
    margin-top: 0px;
    border-radius:.99rem!important;
    text-align: center;
}

.inputTitle {
    font-size: 60px;
    color: orange;
}

#burgerGif {
    height: 250px;
    width: 500px;
}

hr {
    background-color: orange;
}

.createButt {
    font-size: 35px;
    background-color: orange;
    color: black;
}

#listCont {
    border: solid;
    margin-top: 40px;
    background-color: black;
    border-radius:.99rem!important;
    text-align: center;
    color: orange;

}

h2 {
    font-size: 40px;
}

li {
    font-size: 30px;
}