<header>
    <h1>EAT-THE-BURGER</h1>


</header>

<div id="cont2" class="container">
    <img id="burgerGif" src="https://media.giphy.com/media/xT9KVzVj01qfRPiJr2/giphy.gif">
</div>
<div id="cont1" class="container">
    <div class="row">
        <form class="col-lg-12 submit-burger-form">
            <br>
            <h2 class="inputTitle"><u>Create a Burger</u></h2>
            <br>
            <input type="text" id="ca" name="burgerName"></input> <br>
            <br>
            <button class="createButt" type="submit">Submit</button>

        </form>
    </div>
</div>

<div id="listCont" class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Created Burgers</h2>
            <hr>


            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}

                <li>{{this.burger_name}}
                    <span class="burgerId">{{this.id}}</span>
                    <button class="eatButton">Eat Burger</button>
                </li>
                {{/unless}}
                {{/each}}
                
            </ul>
        </div>


        <div class="col-md-5">
            <h2>Eaten Burgers</h2>
            <hr>
            <ul>
                {{#each burgers}}
                <li>

                    {{#if this.devoured}}
                    {{this.burger_name}}
                    {{/if}}
                </li>
                {{/each}}

            </ul>
        </div>
    </div>


    <img id="tasty" src="https://media.giphy.com/media/HQ2Slp9yEkX72/giphy.gif">

    <button class="delete-burger" data-id="{{this.id}}">Delete Burgers</button>


</div>

