body {
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1 {
    text-align: center;
    font-size: 60px;
}

input {
    position: center;
    text-align: center;
    font-size: 30px;
}

.container {
    border: solid;
    padding: 20px;
    margin: 10px;
}